* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
header, footer {
	width: 100vw;
	height: auto;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.9);
	font-family: normal Verdana, Arial, sans-serif;
	color: #fff;
	display: flex;
	position: fixed;
}
header {
	flex-direction: row;
}
footer {
	bottom: 0;
	align-items: center;
	justify-content: left;
	font-size: 25px;
	font-weight: bold;
}
#footer-p {
	margin-left: 40%;
}
ul {
	display: flex;
	align-items: center;
	list-style: none;
	font-size: 20px;
	font-family: Arial, Verdana, Serif;
}
ul.inside {
	flex-direction: column;
}
li.space {
	padding: 36px;
}
#e-mail {
	padding: 3px
}
a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	background-color: rgb(250, 168, 33);
	border-radius: 65px;
	padding: 7px 35px;
}
div {
	display: flex;
	align-self: center;
	position: absolute;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}
div.left-menu {
	left: 10%;
}
#logo {
	font-size: 18px;
	font-weight: bold;
}	
div.right-menu {
	width: 90%;
	justify-content: flex-end;
}
div.center-one {
	width: 250px;
	height: auto;
	background-color: rgb(250, 250, 250);
	right: 50%;
	font-size: 18.2px;
}
#paragraf-left {
	margin: 15px;
}
div.center-two {
	flex-direction: column;
	margin-left: 1px solid black;
	left: 51%;
	font-weight: bold;
}
input {
	width: 200px;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
}
input.btn {
	width: 70px;
	height: 30px;
	color: white;
	font-weight: bold;
	background-color: rgb(250, 168, 33);
	display: flex;
	justify-content: center;
	align-items: center;
}
input.btn:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.9); 
	box-shadow: 4px 4px 15px rgb(250, 168, 33);
}
.central-line {
	border-right: 1.5px dashed black;
	position: fixed;
	right: 50%;
	height: 250px;
	display: flex;
	align-self: center;
}