*{  margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    margin-top: 10px;
}
#tela {
    width: 350px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    flex-direction: column;
}
div {
    justify-content: space-between;
}

input {
    border: 1px solid black;
    padding: 1px;
    margin: 1px;
    width: 130px;
    height: 20px;
}
.disp {    
    display: flex;
}
.just {
    justify-content: center;
    align-items: center;
}

.line {
    flex-direction: row;
}

#btn{
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    width: 200px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    justify-content: center;
}